<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head :: head (title='Countertop | Recipe')">
    <div th:replace="partials/links :: links"></div>
</head>
<body>

<nav th:replace="partials/navbar :: navbar"></nav>

    <main>
        <div class="header-img shadow d-flex" style="align-items: center;">
            <h1 class="text-center mx-auto" >MEET THE TEAM</h1>
        </div>
    </main>
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <div class="mx-auto w-90 d-flex justify-content-around row row-cols-4 " >
        <div class="col-3" align="center">
            <img src="../images/sK87RI8n.jpg" class="rounded-circle justify-content-center" alt="Card img cap" style="height: 200px;width: 200px;object-fit: cover;">
            <br>
            <br>
            <h5 class="card-title text-center">CHARLES BRANT-STEC</h5>
            <a href="https://github.com/charlesbrantstec"style="font-size: 18px;"><i class="fab fa-github"></i> github</a>
            <br>
            <a href="https://www.linkedin.com/in/charles-brant-stec/" style="font-size: 18px;"><i class="fab fa-linkedin-in"></i> linkedin</a>
            <br>
            <br>
            <a href="https://alumni.codeup.com/students/886" class="btn btn-primary mt-auto">VIEW INFORMATION</a>
        </div>
        <div class="col-3" align="center">
            <img src="../images/AustinDeringAllen.jpg" class="rounded-circle justify-content-center" alt="Card img cap" style="height: 200px;width: 200px;">
            <br>
            <br>
            <h5 class="card-title text-center">AUSTIN DERING-ALLEN</h5>
            <a href="https://github.com/AustinDeringAllen"style="font-size: 18px;"><i class="fab fa-github"></i> github</a>
            <br>
            <a href="https://www.linkedin.com/in/austinderingallen/"style="font-size: 18px;"><i class="fab fa-linkedin-in"></i> linkedin</a>
            <br>
            <br>
            <a href="https://alumni.codeup.com/students/880" class="btn btn-primary mt-auto">VIEW INFORMATION</a>
        </div>
        <div class="col-3" align="center">
            <img src="../images/DavidBess.jpg" class="rounded-circle justify-content-center" alt="Card img cap" style="height: 200px;width: 200px;">
            <br>
            <br>
            <h5 class="card-title text-center">DAVID BESS</h5>
            <a href="https://github.com/David-Bess26"style="font-size: 18px;"><i class="fab fa-github"></i> github</a>
            <br>
            <a href="https://www.linkedin.com/in/david-bess-090aa61a1/"style="font-size: 18px;"><i class="fab fa-linkedin-in"></i> linkedin</a>
            <br>
            <br>
            <a href="https://alumni.codeup.com/students/890" class="btn btn-primary mt-auto">VIEW INFORMATION</a>
        </div>
        <div class="col-3" align="center">
            <img src="../images/TimBoudreaux.jpg" class="rounded-circle justify-content-center" alt="Card img cap" style="height: 200px; width: 200px;">
            <br>
            <br>
            <h5 class="card-title text-center">TIM BOUDREAUX</h5>
            <a href="https://github.com/tmboudreaux00"style="font-size: 18px;"><i class="fab fa-github"></i> github</a>
            <br>
            <a href="https://www.linkedin.com/in/timboudreaux/"style="font-size: 18px;"><i class="fab fa-linkedin-in"></i> linkedin</a>
            <br>
            <br>
            <a href="https://alumni.codeup.com/students/879" class="btn btn-primary mt-auto">VIEW INFORMATION</a>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>


<div th:replace="partials/scripts :: scripts"></div>
</body>
</html>